workflows/pseo-rich-groomer-v4.json
{
  "id": "0xWvynFLGpfXPWaP",
  "name": "The Rich Groomer pSEO - Suburb Pages - Payload CMS V4",
  "nodes": [
    {
      "parameters": {},
      "id": "f2b4f4b4-042b-4156-9f8a-b3ff41daa756",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "const suburbs = [\n  {\n    suburb: 'Elk Grove', slug: 'elk-grove', zip: '95624', population: 176124,\n    distance_miles: 14, drive_time_min: 18, highway: 'Highway 99 South',\n    landmarks: 'Elk Grove Regional Park, Old Town Elk Grove',\n    nearby_parks: 'Elk Grove Dog Park, Bartholomew Sports Park',\n    tier: 1, unique_angle: 'Largest suburb, family-focused community'\n  }\n];\nconst items = [];\nfor (const d of suburbs) {\n  items.push({ json: {\n    ...d,\n    animal_type: 'dog', page_type: 'suburb', service: 'Dog Grooming',\n    target_keyword: 'dog grooming ' + d.suburb,\n    meta_title: 'Dog Grooming in ' + d.suburb + ', CA | The Rich Groomer',\n    image_prompt: 'Professional photo of a happy freshly groomed golden retriever dog, modern pet grooming salon interior, Sacramento California suburban setting, warm golden lighting, clean and welcoming atmosphere'\n  }});\n}\nreturn items;"
      },
      "id": "20b451fe-d651-4355-8c33-dc6e3f4b8e7b",
      "name": "Sacramento Suburb Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -48
      ]
    },
    {
      "parameters": {},
      "id": "ec4fec83-141e-42a3-9277-9ad0554f584d",
      "name": "Rate Limit 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        -48
      ],
      "webhookId": "1400fba7-5b3b-4eb0-8092-9b4973b55f8a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":4000,\"messages\":[{\"role\":\"user\",\"content\":\"You are an expert local SEO content writer for The Rich Groomer, Sacramento premier pet grooming salon at 3291 Truxel Rd Suite 23, Sacramento CA 95833. Phone: (916) 692-8874.\\n\\nGenerate a pSEO suburb page for dog grooming in {{$json.suburb}}, CA.\\n\\nPAGE DETAILS:\\n- Target keyword: {{$json.target_keyword}}\\n- Suburb: {{$json.suburb}}, ZIP: {{$json.zip}}\\n- Distance: {{$json.distance_miles}} miles via {{$json.highway}}, Drive time: {{$json.drive_time_min}} min\\n- Landmarks: {{$json.landmarks}}, Parks: {{$json.nearby_parks}}\\n- Community: {{$json.unique_angle}}\\n- Bath pricing: $35-$120, Groom pricing: $60-$200\\n\\nWrite 4 H2 sections (150-200 words each):\\n1. Why {{$json.suburb}} dog owners choose The Rich Groomer\\n2. Our dog grooming services for {{$json.suburb}} pets\\n3. How much does dog grooming cost near {{$json.suburb}}?\\n4. How to book dog grooming from {{$json.suburb}}\\n\\nRESPOND ONLY VALID JSON no markdown no backticks:\\n{\\\"h1\\\":\\\"Dog Grooming in {{$json.suburb}} CA\\\",\\\"intro\\\":\\\"150 word intro\\\",\\\"sections\\\":[{\\\"h2\\\":\\\"heading\\\",\\\"body\\\":\\\"body text\\\"}],\\\"faqs\\\":[{\\\"q\\\":\\\"question\\\",\\\"a\\\":\\\"answer\\\"}],\\\"aseo_answer\\\":\\\"50 word answer\\\",\\\"metaDescription\\\":\\\"160 char meta\\\"}\"}]}",
        "options": {}
      },
      "id": "4f7c29c1-49e9-4936-8896-2f8f7f64c8a6",
      "name": "Claude API Generate Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        -48
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "V1MsH5OvO52zGvPi",
          "name": "Anthropic Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nfor (let i = 0; i < items.length; i++) {\n  const aiResponse = items[i].json;\n  let prev;\n  try { prev = $('Sacramento Suburb Data').all()[i].json; } catch(e) { prev = items[i].json; }\n  let rawText = '';\n  try { rawText = aiResponse.content[0].text; } catch(e) {\n    results.push({ json: { error: 'Could not read AI response', suburb: prev.suburb || '' } });\n    continue;\n  }\n  rawText = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  let pageData;\n  try { pageData = JSON.parse(rawText); } catch(e) {\n    const match = rawText.match(/\\{[\\s\\S]*\\}/);\n    if (match) { try { pageData = JSON.parse(match[0]); } catch(e2) { results.push({ json: { error: 'Invalid JSON', suburb: prev.suburb || '' } }); continue; } }\n    else { results.push({ json: { error: 'No JSON found', suburb: prev.suburb || '' } }); continue; }\n  }\n  const suburb = prev.suburb || '';\n  const slugify = s => s.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '');\n  const slug = slugify(suburb) + '-dog-grooming';\n  const faqItems = (pageData.faqs || []).map(f => ({ question: f.q, answer: f.a }));\n  const bodyText = (pageData.sections || []).map(s => s.h2 + '\\n\\n' + s.body).join('\\n\\n');\n  results.push({ json: {\n    suburb, slug,\n    title: pageData.h1 || ('Dog Grooming in ' + suburb + ', CA | The Rich Groomer'),\n    intro: pageData.intro || '',\n    bodyContent: bodyText,\n    faqItems,\n    metaTitle: 'Dog Grooming in ' + suburb + ', CA | The Rich Groomer',\n    metaDescription: pageData.metaDescription || '',\n    imagePrompt: prev.image_prompt || '',\n    imageAlt: 'Dog grooming in ' + suburb + ' Sacramento - The Rich Groomer'\n  }});\n}\nreturn results;"
      },
      "id": "44b1d926-9a77-4df0-9646-85863b1e0a3f",
      "name": "Parse and Build Payload Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://31.97.148.228:3001/api/suburb-content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"title\":\"{{ $json.title }}\",\"suburb\":\"{{ $json.suburb }}\",\"breed\":\"All Breeds\",\"slug\":\"{{ $json.slug }}\",\"intro\":\"{{ $json.intro }}\",\"bodyContent\":\"{{ $json.bodyContent }}\",\"faqItems\":{{ JSON.stringify($json.faqItems) }},\"metaTitle\":\"{{ $json.metaTitle }}\",\"metaDescription\":\"{{ $json.metaDescription }}\",\"status\":\"published\",\"pipelineRunId\":\"{{ $execution.id }}\"}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Create Payload Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        -48
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zHLfqH7GF8i4nUJ0",
          "name": "Payload RG API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/recraft-ai/recraft-v4/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "respond-async"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"input\":{\"prompt\":\"{{ $('Parse and Build Payload Data').item.json.imagePrompt }}\",\"style\":\"realistic_image\",\"width\":1792,\"height\":1024}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        144
      ],
      "id": "98ce4b9d-2d39-48f3-b0ef-c82aa2dc5899",
      "name": "Generate Image Replicate",
      "credentials": {
        "httpHeaderAuth": {
          "id": "j0cL4NmhnwMJSHM4",
          "name": "Replicate"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1008,
        368
      ],
      "id": "850dc757-8711-4938-8d0c-60fb8d2d2aa5",
      "name": "Wait",
      "webhookId": "12d025f3-2b5a-4592-b195-b01eac7bca85"
    },
    {
      "parameters": {
        "url": "={{ $('Generate Image Replicate').item.json.urls.get }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        368
      ],
      "id": "5c1548f9-a9bd-4d2f-bdf3-398e63112cbf",
      "name": "Poll Replicate",
      "credentials": {
        "httpHeaderAuth": {
          "id": "j0cL4NmhnwMJSHM4",
          "name": "Replicate"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.output }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1424,
        368
      ],
      "id": "bbd6f983-02c8-4cbc-8f5c-92bfa587cdae",
      "name": "Download Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://31.97.148.228:3001/api/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $binary.data }}",
              "parameterType": "formBinaryData"
            },
            {
              "name": "alt",
              "value": "={{ $('Parse and Build Payload Data').item.json.imageAlt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1632,
        368
      ],
      "id": "c1d2e3f4-a5b6-7890-cdef-012345678901",
      "name": "Upload Payload Media",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zHLfqH7GF8i4nUJ0",
          "name": "Payload RG API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://31.97.148.228:3001/api/suburb-content/{{ $(\"Create Payload Document\").item.json.doc.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"featuredImage\":\"{{ $('Upload Payload Media').item.json.doc.id }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1840,
        368
      ],
      "id": "d2e3f4a5-b6c7-8901-defa-123456789012",
      "name": "Update Payload Featured Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zHLfqH7GF8i4nUJ0",
          "name": "Payload RG API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst summary = items.map(i => 'Done: ' + (i.json.doc && i.json.doc.title ? i.json.doc.title : 'Document') + ' ID: ' + (i.json.doc && i.json.doc.id ? i.json.doc.id : 'unknown')).join('\\n');\nreturn [{ json: { total_pages: items.length, summary, completed_at: new Date().toISOString() } }];"
      },
      "id": "589d42ef-91c2-40c1-9531-f7c98b49ac52",
      "name": "Batch Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -48
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Sacramento Suburb Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sacramento Suburb Data": {
      "main": [
        [
          {
            "node": "Rate Limit 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit 2s": {
      "main": [
        [
          {
            "node": "Claude API Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API Generate Content": {
      "main": [
        [
          {
            "node": "Parse and Build Payload Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Build Payload Data": {
      "main": [
        [
          {
            "node": "Create Payload Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Payload Document": {
      "main": [
        [
          {
            "node": "Batch Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Image Replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Replicate": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Poll Replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Replicate": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload Payload Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Payload Media": {
      "main": [
        [
          {
            "node": "Update Payload Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Payload Featured Image": {
      "main": [
        [
          {
            "node": "Batch Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}